<section *ngIf="loading; else entryView" class="loading flex-full-height">
  <mat-spinner></mat-spinner>
</section>
<ng-template #entryView>
  <div class="centered-container flex-full-height">
    <section class="content flex-full-height">
      <p class="narrative mat-body">
        {{ entry.notes || "No notes available" }}
      </p>
      <div class="mat-small">
        Author:
        <a routerLink="/users/{{ entry.authorId }}/entries" class="mat-small">{{
          entry.authorName
        }}</a>
      </div>
      <div class="mat-small">
        Location:
        <a routerLink="/locations/{{ entry.locationId }}/entries">{{
          entry.locationName
        }}</a>
      </div>
      <div class="mat-small">Date: {{ entry.date | date }}</div>
      <div class="mat-small">Catch Count: {{ entry.catchCount }}</div>
      <ng-container *ngIf="entry.imageURLs">
        <img *ngFor="let imageUrl of entry.imageURLs" [src]="imageUrl" />
      </ng-container>
    </section>
    <button
      *ngIf="(currentUserId$ | async) === entry.authorId"
      class="create-button"
      type="button"
      mat-flat-button
      color="warn"
      (click)="deleteEntry()"
    >
      Delete Entry
    </button>
  </div>
  <app-footer-breadcrumb
    text="Reports"
    [link]="['../']"
  ></app-footer-breadcrumb>
</ng-template>
