<mat-toolbar class="header" color="primary">
  <a class="headline" [routerLink]="['/all-entries']"> Fishing Reports </a>
  <div class="user">
    <a
      class="headline"
      [routerLink]="['/my-entries']"
      routerLinkActive="router-link-active"
    >
      {{ currentUserName$ | async }}
    </a>
    <app-notification-icon [hasNotifications]="hasNotifications | async">
      <button mat-icon-button position="end" (click)="toggleNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </app-notification-icon>
  </div>
</mat-toolbar>
