<mat-toolbar class="header" color="primary">
  <a
    class="headline"
    [routerLink]="(loggedIn | async) ? ['/entries'] : ['/login']"
  >
    Fishing Reports
  </a>
  <div class="user">
    <a *ngIf="loggedIn | async" class="headline" [routerLink]="['/my-entries']">
      {{ currentUserName$ | async }}
    </a>
    <app-notification-icon
      *ngIf="loggedIn | async"
      [hasNotifications]="hasNotifications | async"
    >
      <button mat-icon-button position="end" (click)="toggleNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </app-notification-icon>
  </div>
</mat-toolbar>
