<ng-container *ngIf="currentUserName$ | async">
  <div class="nav-item">
    <a class="link" [routerLink]="['/my-entries']"> My Reports </a>
  </div>
  <mat-divider></mat-divider>
  <div class="nav-item">
    <a class="link" [routerLink]="['/all-entries']"> All Reports </a>
  </div>
  <mat-divider></mat-divider>
  <div class="nav-item">
    <app-notification-icon
      [hasNotifications]="hasNotifications | async"
      left="3rem"
      top=".3rem"
      ><a class="link" [routerLink]="['/friends']">
        Friends</a
      ></app-notification-icon
    >
  </div>
  <mat-divider></mat-divider>
</ng-container>
<div class="nav-item">
  <a class="link" (click)="logout()">
    {{ (currentUserName$ | async) ? "Log Out" : "Log In" }}
  </a>
</div>
<mat-divider></mat-divider>
