:host {
    overflow: hidden;
}

.post {
    margin-bottom: 1rem;
}

.create-button {
    margin-top: 2rem;
    width: 100%;
}

.content {
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
}

.narrative {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.body {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
}

.delete {
    align-self: center;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.container {
    overflow-y: auto;
    flex: 1 1 auto;
}

.no-entries {
    color: grey;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}