.create-form {
    display: flex;
    flex-flow: column nowrap;
}

.create-button {
    margin-top: 1rem;
}

.cancel-button {
    margin-top: auto;
}

.scroll-area {
    overflow-y: auto;
}

.field {
    width: 100%;
}