<section *ngIf="loading; else createView" class="loading">
  <mat-spinner></mat-spinner>
</section>
<ng-template #createView>
  <form class="create-form flex-full-height" [formGroup]="entryForm">
    <div class="scroll-area">
      <mat-form-field class="field">
        <mat-label>Notes</mat-label>
        <textarea
          required
          matInput
          class="notes"
          placeholder="Add Narrative Here"
          formControlName="notes"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Location</mat-label>
        <mat-select required formControlName="locationId">
          <mat-option
            *ngFor="let location of locationOptions"
            [value]="location.id"
          >
            {{ location.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Date</mat-label>
        <input
          required
          matInput
          [matDatepicker]="picker"
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Catch Count</mat-label>
        <input
          required
          matInput
          type="number"
          placeholder="How many fish did you catch?"
          formControlName="catchCount"
          min="0"
        />
      </mat-form-field>
    </div>
    <button
      class="cancel-button"
      type="button"
      mat-stroked-button
      [routerLink]="['../']"
    >
      Cancel
    </button>
    <button
      class="create-button"
      type="button"
      mat-flat-button
      color="accent"
      [disabled]="!entryForm.valid"
      (click)="createEntry()"
    >
      Submit
    </button>
  </form>
</ng-template>
