.hidden {
  visibility: hidden;
}

span {
  opacity: 0;
  transition: opacity 200ms;
}

:host {
  width: 100%;
  display: block;
}

.input-label {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add {
  pointer-events: none;
}

.spinner {
  margin: 10px;
}

.image-item {
  position: relative;
  margin-bottom: 1rem;
}

.delete {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: white;
  border-radius: 0;
}
