<input
  class="cdk-visually-hidden"
  id="input-file-id"
  multiple
  type="file"
  (change)="onFileChange($event.target.files)"
  (click)="onAddClick()"
  (focusin)="onFocusIn($event)"
  (focusout)="onFocusOut($event)"
/>
<label class="input-label" for="input-file-id">
  <div>
    <button
      *ngIf="(loading | async) === false; else spinner"
      class="add"
      mat-icon-button
      color="primary"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <ng-template #spinner>
      <mat-spinner class="spinner" [diameter]="20"></mat-spinner>
    </ng-template>
  </div>
</label>
<ul *ngIf="value?.length">
  <li *ngFor="let file of value">{{ file.name }}</li>
</ul>
