<ul *ngIf="value?.length">
  <li class="image-item" *ngFor="let file of value; let i = index">
    <img [src]="file | imgSrc | async" />
    <button
      class="delete"
      mat-icon-button
      color="warn"
      (click)="deleteImage(i)"
    >
      <mat-icon>highlight_off</mat-icon>
    </button>
  </li>
</ul>
<label class="input-label" for="input-file-id">
  <div>
    <button
      *ngIf="(loading | async) === false; else spinner"
      class="add"
      mat-icon-button
      color="primary"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <ng-template #spinner>
      <mat-spinner class="spinner" [diameter]="20"></mat-spinner>
    </ng-template>
  </div>
</label>
<input
  class="cdk-visually-hidden"
  id="input-file-id"
  multiple
  type="file"
  (change)="onFileChange($event.target.files)"
  (click)="onAddClick()"
  (focusin)="onFocusIn($event)"
  (focusout)="onFocusOut($event)"
/>
