@import "tailwindcss";

:root {
  /* Color primitives */
  --orange-100: #ffdcbf;
  --orange-300: #e07925;
  --orange-500: #c86f54;
  --orange-700: #a65a1b;

  /* Grayscale */
  --white: #fff;
  --gray-100: #f5f6f7;
  --gray-200: #e0e1e2;
  --gray-900: #1a1f2e;

  /* Primary */
  --primary-100: var(--orange-100);
  --primary-300: var(--orange-300);
  --primary: var(--orange-500);
  --primary-700: var(--orange-700);

  /* Functional */
  --danger: #dd4115df;
  --danger-dark: #ae0309;
}

@theme {
  /* Primary */
  --color-primary-100: var(--primary-100);
  --color-primary-300: var(--primary-300);
  --color-primary-500: var(--primary);
  --color-primary-700: var(--primary-700);

  /* Grayscale */
  --color-white: var(--white);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-900: var(--gray-900);

  /* Functional */
  --color-danger: var(--danger);
  --color-danger-dark: var(--danger-dark);
}

@layer base {
  input,
  select,
  textarea {
    @apply bg-white border border-gray-300 rounded px-3 py-2 text-sm;
  }

  input {
    @apply focus:outline-none focus:ring-1 focus:ring-blue-500;
  }
}
